@import '_mixin';
@import '_functhions';
main{
    @include flex;
    grid-area: main;
    h2{
        @include border;
        width: 100%;
        text-align: center;
        margin-bottom: -10px;
    }
    .text{
        div{
                display: inline-flex;
                width:300px;
                height:250px;
                margin-right: 40px; 
                text-align: center;
                vertical-align: middle;
                @include border;
        }
    }
    .imgs{
        div{
            display: inline-flex;
            img{
                margin-right: 50px;
                width: 200px;
                height: 300px;
            }
        }
    }
}