div{
    display: inline-flex;
    margin-left: 20%;
    margin-top: 10%;
 }
 img{
    margin-right: 10px; 
 }
 .img4{
 transform: perspective(600px) rotateX(50deg);
 }
 .img5{
    transform: perspective(600px) rotateY(40deg);
 }
 .img6{
    transform: perspective(600px) rotateX(50deg);
 }
 .img7{
    transform: perspective(600px) rotateY(-40deg);
 }