div{
    display: inline-flex;
    margin-left: 20%;
    margin-top: 10%;
 }
 img{
    margin-right: 10px; 
 }
 .img1:hover{
    transition: 1s linear 0s;
    transform: scale(0.5);
 }
 .img2:hover{
    transition: 1s linear 0s;
    transform: rotate(45deg);
 }
 .img3:hover{
    transition: 1s linear 0s;
    transform: translate(50px,0px);
 }
 .img4:hover{
    transition: 1s linear 0s;
    transform: skew(-20deg);
 }