section{
    display: grid;
    grid-template-areas: 
    "nav header header header"
    "nav article article aside"
    "nav article article aside"
    "footer footer footer footer";
    width: 100%;
    height: 600px;
    gap: 10px;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 2fr 2fr;
}
nav, header,footer,article,aside{
    border: 1px solid black;
}
header{
    grid-area: header;
}
footer{
    grid-area:footer;
}
aside{
    grid-area: aside;
}
article{
    grid-area: article;
}
nav{
    grid-area: nav;
}
div{
    text-align: center;
}
a{
    text-decoration: none;
}
