
@font-face {
    font-family:'Caveat';
    src:url('fonts/Caveat.ttf') format('ttf')
}
@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa.ttf') format('ttf');
}
@font-face {
    font-family: 'Exo2';
    src: url('fonts/Exo2.ttf') format('ttf');
}